<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<body>

		<div th:fragment="scripts">
			<script src="/webjars/jquery/3.5.1/jquery.min.js" type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"> </script>
			<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js" type="text/javascript" th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"> </script>
			<script src="/webjars/codemirror/5.50.0/lib/codemirror.js" type="text/javascript" th:src="@{/webjars/codemirror/5.50.0/lib/codemirror.js}"> </script>
			<script src="/webjars/codemirror/5.50.0/mode/xml/xml.js" type="text/javascript" th:src="@{/webjars/codemirror/5.50.0/mode/xml/xml.js}"> </script>
			<script src="/webjars/codemirror/5.50.0/addon/fold/xml-fold.js" type="text/javascript" th:src="@{/webjars/codemirror/5.50.0/addon/fold/xml-fold.js}"> </script>
			<script src="/webjars/codemirror/5.50.0/addon/edit/closetag.js" type="text/javascript" th:src="@{/webjars/codemirror/5.50.0/addon/edit/closetag.js}"> </script>
			<script src="/js/admin-spring.js" type="text/javascript" th:src="@{/js/admin-spring.js}"> </script>
		</div>

	</body>

</html>
