<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:fragment="header">
		<link href="/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}"/>
		<link href="/webjars/codemirror/5.59.2/lib/codemirror.css" rel="stylesheet" type="text/css" th:href="@{/webjars/codemirror/5.59.2/lib/codemirror.css}"/>
		<link href="/css/admin-spring.css" rel="stylesheet" type="text/css" th:href="@{/css/admin-spring.css}"/>
		<meta charset="UTF-8"/>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
		<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
		<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
		<meta content="Ádám Z. Kövér adamzkover@gmail.com" name="author"/>
		<meta content="HunNor" name="description"/>
		<title>HunNor</title>
	</head>

</html>
