<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">

	<head th:replace="~{layout/header :: header}"> </head>

	<body>

		<div id="priv-auth">
			<p>
				<strong th:text="${name}">admin</strong>
				<em>(<span th:text="${uid}">admin</span>@<span th:text="${provider}">local</span>)</em>
				<a href="/logout">Kijelentkezés</a>
			</p>
		</div>

		<div id="priv-edit" class="white-sheet">
			<div id="priv-edit-form-container"> </div>
			<div id="priv-edit-results"> </div>
		</div>

		<div id="priv-list" class="white-sheet">
			<form id="priv-list-controls">
				<p>
					<select id="lang" name="lang">
						<option value="hu">magyar</option>
						<option value="nb">bokmål</option>
					</select>
					<select id="letter" name="letter"> </select>
					<input id="submit-letter" type="button" value="Lista" />
				</p>
				<p>
					<input id="term" name="term" type="text" />
					<input id="submit-term" type="button" value="Keresés" />
				</p>
				<p>
					<input id="stat" name="stat" type="checkbox" value="1" /> csak fordítással
				</p>
				<p>
					<input id="submit-new" type="button" value="Új szócikk" />
				</p>
			</form>
			<div id="priv-list-results"> </div>
		</div>

		<div th:replace="~{layout/footer :: scripts}"> </div>
		<script type="text/javascript">
			$(document).ready(function() {
				loadLetters("hu");
				listLetter("hu", "a", "");
				loadEntry("hu", "N", "");
			});
			$(window).resize(function() {
				adjustHeight();
			});
			$("#lang").change(function() {
				loadLetters($("#lang").val());
			});
			$("#submit-letter").click(function() {
				listLetter($("#lang").val(), $("#letter").val(), "");
			});
			$("#submit-term").click(function() {
				listLetter($("#lang").val(), $("#letter").val(), $("#term").val());
			});
			$("#priv-list-controls").submit(function() {
				listLetter($("#lang").val(), $("#letter").val(), $("#term").val());
				return false;
			});
			$("#submit-new").click(function() {
				loadEntry($("#lang").val(), "N", $("#term").val());
			});
		</script>

	</body>

</html>
