body {
	background-image: url('/images/background.png');
	font-family: verdana, arial;
	font-size: 10pt;
	margin: 0;
}

.white-sheet {
	background-color: #f7f7f7;
	border: solid 2px #808080;
	border-radius: 10px;
	margin: .5em;
	padding: .5em;
}

.white-sheet a {
	color: #000000;
}

#priv-auth {
	background-color: #f7f7f7;
	border-bottom: solid 2px #808080;
	left: 0;
	margin: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

#priv-auth a {
	color: #000000;
}

#priv-auth p {
	margin: 0;
	padding: .2em .5em;
}

#priv-list {
	margin: 3em .5em .5em .5em;
	width: 25%;
}

#priv-list-controls {
	margin-bottom: 1em;
}

#priv-list-controls p {
	margin: 0;
}

#priv-list-results a {
	text-decoration: none;
}

#priv-list-results a.ref {
	color: #808080;
}

#priv-list-results a.stat0 {
	color: red;
}

#priv-list-results a.stat1 {
	color: darkorange;
}

#priv-list-results a.stat2 {
	color: green;
}

#priv-list-results ol {
	line-height: 1.2em;
}

#priv-list-results p {
	margin: 0;
}

#priv-edit {
	margin: 0 .5em;
	bottom: 3em;
	position: fixed;
	right: 0;
	top: 3em;
	width: 70%;
	overflow: auto;
}

#priv-edit-results {
	margin-top: .5em;
}

#priv-edit-form-container {
	height: 100%;
}

#priv-edit-form {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#priv-edit-form-forms {
	flex: 0 0 auto;
}

#priv-edit-form-senses {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	min-height: 0;
}

#priv-edit-form-senses .CodeMirror {
	flex: 1 1 auto;
	height: auto;
	min-height: 0;
}

.CodeMirror {
    line-height: 1em;
}

.CodeMirror-gutters {
	background-color: #eeeeee;
}

.CodeMirror-gutter-text {
	color: #808080;
}

.activeline {
	background: #e8f2ff !important;
}
